<!DOCTYPE html>
<html xml:lang xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Datos de los clones</title>
</head>

<body>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>ID</th>
            <th>Jumppack</th>
            <th>Fly</th>
        </tr>
        <tr th:each="clone, iter : ${clonNames}"> 
            
            <td th:text="${clone}"></td>
            <td th:text="${clonIds[iter.index]}"></td>
            <td th:text="${hasJumpPack[iter.index]}"></td>
            <td th:text="${canFly[iter.index]}"></td>
            <td>
                <a th:href="@{/update}">Editar clon</a>
            </td>
        </tr>
    </table>

    <a th:href="@{/}">Página principal</a>
    <a th:href="@{/create}">Crear clones</a>
    <a th:href="@{/delete}">Eliminar clon</a>
    
</body>

</html>